.login{
    width: 100%;
    height: 100vh;
    background:#1E2326 linear-gradient(360.0deg, #B86EFD 0.75%, rgba(165, 101, 226, 0.870921) 7.18%, rgba(124, 82, 168, 0.591511) 19.16%, rgba(104, 73, 140, 0.453117) 28.74%, rgba(80, 62, 107, 0.292542) 55.36%, rgba(57, 51, 74, 0.133167) 83.67%, rgba(37, 42, 46, 0) 100%); 
    color: white;
}

.contenedor_top{
    width: 100%;
    height: 30%;
}

.tituloLogin{
    color: var(--primer-color);
    font-size: 2em;
}

.formulario_login{
    width: 100%;
    height: 40%;
    display: flex;
}

.label{
    width: 85%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.inputLogin{
    width: 85%;
    height: 100%;
    font-size: 1.3em;
    padding: 10px;
    background-color: #282828;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    color: white;
    transition: 0.2s all ease-in;
}

.inputLogin:focus{
    background-color: #b86efd41;
    transition: 0.2s all ease-in;
}

.iconLogin{
    width: 15%;
    height: 100%;
    padding: 3%;
    border-radius: 10px 0 0 10px;
    background-color: #313131;
    color: var(--primer-color);
}

.btnLogin{
    width: 70%;
    height: 20%;
    font-size: 1.5em;
}


::placeholder{
    color: #7D7D7D;
    padding: 10px;
}

.error{
    margin: 3px;
    font-size: 1em;
    color: rgb(255, 34, 34);
}

.contenedor_bottom{
    width: 100%;
    height: 30%;
    font-size: 1em;
    justify-content: space-evenly;
}

.cont_regiscontra{
    width: 100%;
    height: 30%;
    margin-bottom: 15px;
}

.textoLogin{
    font-size: 0.9em;
}

.link{
    text-decoration: none;
    font-size: 1.5em;
    color: var(--primer-color);
}

.google{
    background-color: red;
    border-radius: 20px;
    font-size: 2em;
}

.iniciar_google{
    margin-bottom: 30px ;
    flex-direction: row;
    gap: .5rem;
}

.a{
    text-decoration: none;
    color: white;
}


/* RESPONSIVE TABLET -------------------------------------------------------------------------------------- */

@media (min-width: 700px) {

    .contenedor_top{
        height: 25%;
    }

    .formulario_login{
        height: 50%;
    }

    .contenedor_bottom{
        height: 25%;
    }

    .login_Contenedor{
        width: 100%;
        height: 100vh;
        background:var(--degradado-color);
    }

    .login{
        width: 80%;
        height: 85%;
        border-left: solid 3px var(--primer-color);
        border-bottom: solid 3px var(--primer-color);
        border-radius: 20px; 
        background: var(--tercer-color);
    }

    .tituloLogin{
        color: var(--primer-color);
        font-size: 4em;
    }

    .label{
        width: 70%;
        height: 23%;
        margin-bottom: 60px;
    }

    .inputLogin{
        font-size: 2em;
    }

    .error{
        font-size: 1.6em;
    }

    .btnLogin{
        font-size: 1.8em;
    }

    .textoLogin{
        font-size: 1.2em;
    }

    .link{
        font-size: 1.7em;
    }

    .iniciar_google{
        margin-bottom: 10px;
        font-size: 1.5em;
    }

}

@media (max-height: 700px) {

    .contenedor_top{
        height: 18%;
    }

    .formulario_login{
        height: 66%;
    }

    .contenedor_bottom{
        height: 20%;
    }

    .label{
        height: 15%;
        margin-bottom: 50px;
    }

    .error{
        font-size: 1em;
    }

    .btnLogin{
        width: 60%;
        height: 18%;
    }

    .link{
        font-size: 1.2em;
    }

    .iniciar_google{
        font-size: 1em;
    }
}

/* RESPONSIVE DESKTOP --.------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {
    .contenedor_top{
        height: 20%;
    }

    .formulario_login{
        height: 50%;
        font-size: 14px;
    }

    .contenedor_bottom{
        height: 20%;
    }

    .login{
        width: 30%;
    }

    .tituloLogin{
        font-size: 3em;
    }

    .label{
        height: 17%;
        margin-bottom: 40px;
    }

    .btnLogin{
        width: 60%;
        height: 17%;
    }

    .error{
        font-size: 1.1em;
    }
    .textoLogin{
        font-size: 0.9em;
    }

    .link{
        font-size: 1.5em;
    }

    .iniciar_google{
        font-size: 1.1em;
    }
}

/* Mq tablet grande */
@media(min-width:768px)and (max-width:1024px) {
    .login{
        width:65%
    }
}

@media (min-width: 1280px) and (max-width: 1300px) {
    .login{
        width: 40%;
    }
}
@media (min-width: 1300px) and (max-width: 1450px) {
    .login{
        width: 35%;
    }
}
/* @media (min-width: 1440px) {
    .login{
        width: 30%;
    }
} */

/* 


























 */



/* @media ( max-width: 1030px ){
    .login{
        width: 75%;
    }
    .btnLogin{
        width: 70%;
        height: 25%;
        font-size: 2em;
    }
    .textoLogin{
        font-size: 1.2em;
    }
    .formulario-login{
        height: 35%;
    }
    .google{
        font-size: 2.5em;
    }
    .inicar-google{
        font-size: 1.2em;
    }
} */

/* RESPONSIVE CELULAR */

/* @media ( max-width: 450px ){
    .login{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        background:#1E2326 linear-gradient(360.0deg, #B86EFD 0.75%, rgba(165, 101, 226, 0.870921) 7.18%, rgba(124, 82, 168, 0.591511) 19.16%, rgba(104, 73, 140, 0.453117) 28.74%, rgba(80, 62, 107, 0.292542) 55.36%, rgba(57, 51, 74, 0.133167) 83.67%, rgba(37, 42, 46, 0) 100%); 
    }
    .btnLogin{
        width: 70%;
        height: 25%;
        font-size: 2em;
        margin-top: 30px;
    }
    .textoLogin{
        font-size: 1em;
    }
    .google{
        font-size: 2.5em;
    }
    .inicar-google{
        font-size: 1.2em;
    }
} */


