.fondo{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: none;
}
.open{
    display: flex;
}
.cerrar{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.boton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.iconCerrar{
    font-size: 2.5rem;
    color: var(--primer-color);
    background: transparent;
}
.modalOpen{
    position: relative;
    width: 22rem;
    height: 115vh;
    border-right: solid 3px var(--primer-color);
    border-bottom: solid 3px var(--primer-color);
    border-radius: 20px; 
    background: var(--segundo-color);
    /* overflow: hidden;     */
    overflow: auto ;
}
.tituloReporte{
    font-size: 2.5em;
    color: var(--primer-color);
}
.parrafoReporte{
    font-size: 1.3em;
    color: white;
    margin: 10px;
    text-align: start;
}
.cont_checkbox{
    width: 100%;
    align-items: start;
    color: white;   
}
.labelCheck{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}
.labelResulto{
    flex-direction: row;
    color: #00FF19;
    margin: 10px;
    gap: 10px;
}
.labelTextArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textArea{
    background-color: var(--tercer-color);
    color: white;
    font-size: 1em;
    border: none;
}
.checkbox{
    appearance: none;
    width: 32px;
    height: 32px;
    border: 3px solid var(--primer-color);
    cursor: pointer;
}
.checkResulto{
    border: 3px solid #00FF19;
}

.checkbox:checked {
    background-image: url('../modalReportes/checksImg/checkReporte.png') ;
    background-position: center;
    background-size: cover;
}
.checkResulto:checked {
    background-image: url('../modalReportes/checksImg/checkResulto.png') ;
    background-position: center;
    background-size: cover;
}
.cont_boton{
    margin: 20px 0;
}
/* .checkbox:focus {
    background-color: rgb(94, 94, 94);
} */


@media (min-width: 700px){
    .modalOpen{
        left: 4rem;
        width: 42rem;
    }
}