.modal {
    position: relative;
    z-index: 10;
  }
  
  /* ease-out duration-300 */
  .enter {
    transition: 0.3s ease-out;
  }
  
  /* opacity-0 */
  .enterLeave {
    opacity: 0;
  }
  
  /* opacity-100 */
  .enterTo {
    opacity: 1;
  }
  
  /* ease-in duration-200 */
  .leave {
    transition: 0.2s ease-in;
  }
  
  /* fixed inset-0 bg-black bg-opacity-25 */
  .fixedDiv{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.258);
    
  }
  
  /* flex min-h-full items-center justify-center p-4 text-center */
  .divChil{
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 4px;
    text-align: center;
  }
  
  /* opacity-0 scale-95 */
  .fromLeavelTo{
    opacity: 0;
    transform:scale(0.95) ;
  }
  
  /* opacity-100 scale-100 */
  .enterToFrom {
    opacity: 1;
    transform: scale(1) ;
  }
  
  /* w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all */
  .modalOpen{
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(0) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    overflow: scroll;
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 10;
    width: 20rem;
    height: 95vh;
    border-right: solid 3px #B86EFD;
    border-bottom: solid 3px #B86EFD;
    border-radius: 20px; 
    background: var(--segundo-color);
  }
  
  /* text-lg font-medium leading-6 text-gray-900 */
  .dialogtitle{
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    
  }

.cerrar{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.boton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.iconCerrar{
    font-size: 2.5rem;
    color: #B86EFD;
    background: transparent;
}
.tituloReporte{
    font-size: 2.5rem;
    color: #B86EFD;
}
.parrafoReporte{
    font-size: 20px;
    color: white;
    margin: 10px;
    text-align: start;
}
.cont_checkbox{
    width: 100%;
    align-items: start;
    color: white;   
}
.labelCheck{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}
.labelResulto{
    flex-direction: row;
    color: #00FF19;
    margin: 10px;
    gap: 10px;
}
.labelTextArea{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textArea{
    background-color: var(--tercer-color);
    color: white;
    font-size: 1em;
    border: none;
}
.checkbox{
    appearance: none;
    width: 32px;
    height: 32px;
    border: 3px solid #B86EFD;
    cursor: pointer;
}
.checkResulto{
    border: 3px solid #00FF19;
}

.checkbox:checked {
    background-image: url('../modalReportes/checksImg/checkReporte.png') ;
    background-position: center;
    background-size: cover;
}
.checkResulto:checked {
    background-image: url('../modalReportes/checksImg/checkResulto.png') ;
    background-position: center;
    background-size: cover;
}
.cont_boton{
    margin: 20px 0;
}
/* .checkbox:focus {
    background-color: rgb(94, 94, 94);
} */


@media (min-width: 700px){
    .modalOpen{
        left: 4rem;
        width: 42rem;
    }
}


  