.filtrar{
    color: white;
    width: fit-content;
    /* float: left; */
    margin-left: 1rem;
    margin-top: 3rem;
    position: relative;
}

.filtrar li{
    width: 100%;
    display: flex;
    border-bottom: 1px solid;
    text-align: justify;
    list-style: none;
    font-size: 14px;
    padding: 5px;

}

.Cseguridad:hover,
.Mvial:hover,
.Svial:hover,
.Epublicos:hover,
.Apublicos:hover,
.Cambiental:hover {
    background-color: var(--primer-color);
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;
    transition: .5s;
    cursor: pointer;

}

.seguridad,
.Malla,
.Senalizacion,
.Espacios,
.Alumbrado,
.Ambiental {
    margin-right: 1rem;
}

.Cseguridad:hover .seguridad,
.Mvial:hover .Malla,
.Svial:hover .Senalizacion,
.Epublicos:hover .Espacios,
.Apublicos:hover .Alumbrado,
.Cambiental:hover .Ambiental {
    color: #FFFFFF;
}

@media(min-width:200px)and (max-width:850px) {
    .filtrar{
        display: none;
    }
}