*{
    margin: 0;
    box-sizing: border-box;
}

.texto{
    color: white;
    text-align: center;
    padding: 3rem;
    font-size: 20px;
}

.parrafo{
    text-align: justify;
}

.titulo{
    font-size: 30px;
    font-weight: bolder
}

.insisos{
    text-align: justify;
}

.subtitulos{
    font-weight: bolder;
    margin-top: 1rem;
}

.contenedorInfo{
    margin: auto;
    margin-top: 3rem;
    height: 100%;
    width: 40%;
    margin-bottom: 3rem;
    background-color: #1E2326;
    display: flex;
        flex-direction: column;

}

.boton{
    margin: auto;
    width: 25%;
    height: 3.5rem;
    border-radius: 50px;
    text-align: center;
    padding: 1rem;
    color: white;
    border: 2px solid #B86EFD;
    font-weight: bold;
    margin-bottom: 2rem;
}

.aBoton{
    text-decoration: none;
    color: white
}

.boton:hover{
    cursor: pointer;
    background-color: #B86EFD;
}


/* responsive celular*/
@media(min-width:280px)and (max-width:480px){
    .texto{
        padding: 1rem;
    }

    .titulo{
        font-size: 17px;
    }

    .contenedorInfo{
        width: 90%;
    }

    .boton{
        width: 45%;
        height: 1rem;
    }
    .textoBoton{
        margin-top: -0.5rem;
    }
}
    
/* responsive tablet*/
@media(min-width:481px)and (max-width:767px){
    .texto{
        padding: 1rem;
        font-size: 20px;
    }
    .titulo{
        font-size: 25px;
    }

    .contenedorInfo{
        width: 90%;
    }

    .boton{
        width: 40%;
        height: 1rem;
        text-align: center;


    }
    .textoBoton{
        margin-top: -0.5rem;
        text-align: center;
    }
}
 

    
    
/*responsive tablet grande*/
@media(min-width:768px)and (max-width:1024px){
    .texto{
        padding: 3rem;
        font-size: 25px;
    }

    .titulo{
        font-size: 30px;
    }

    .contenedorInfo{
        width: 80%;
    }

    .boton{
        width: 45%;
        height: 1rem;
    }
    
    .textoBoton{
        margin-top: -0.5rem;
    }
}
