.fondo {
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0rem;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
}
.open{
    display: none;
}

.modalPeticiones{
    position: relative;
    width: 60vw;
    height: 90vh;
    border-right: solid 3px var(--primer-color);
    border-bottom: solid 3px var(--primer-color);
    border-radius: 20px; 
    background: var(--segundo-color);
    justify-content: space-evenly;
    border: solid 1px red;
}

.contedorInfo{
 display: flex;
}

.headerModal{
    margin: 25px;
}

.bodyModal{
    border: solid 1px rgb(0, 229, 255);
    height: 100%;
    width: 90%;
}

.headerModal h2{
    font-size: 40px;
    color: var(--primer-color);
}

.headerModal p{
    font-size: 15px;
    color: white;
}

.explicacion p{
    font-size: 15px;
    color: white;
}

.tituloInfo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 30px;
    color: var(--primer-color);
}

.textExpli{
    width: 80%;
    margin-left: 1.5rem;
}

.footerModal button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--primer-color);
    background: var(--segundo-color);
    color: white;
    margin: 25px;
}

.footerModal button:hover{
    background: var(--primer-color);
    color: var(--segundo-color);
}

.explicacion{
    height: 20vh;
    margin: 10px;
    border: solid 1px rgb(0, 255, 13);
}

/* Mq Celular */
@media(min-width:280px) and (max-width:480px) {

    .fondo{
        height: 100%;
        width: 100%;
    }

    .modalPeticiones{
        display: grid;
        justify-items: center;
        height: 90vh;
        width: 90%;
        overflow: scroll;
    }

    .bodyModal{
        height: 100%;
    }

    .contedorInfo{
        display: flex;
        flex-direction: column;
    }
    .explicacion{
        height: auto;
        margin: 5px;
    }

    .headerModal h2{
        font-size: 10px;
    }
    
    .headerModal p{
        font-size: 10px;
    }
    
    .explicacion p{
        font-size: 10px;
    }

    .tituloInfo{
        font-size: 10px;
    } 

    .contenedor{
        display: block;
    }
    
}

