.modal {
    position: relative;
    z-index: 10;
}

/* ease-out duration-300 */
.enter {
    transition: 0.3s ease-out;
}

/* opacity-0 */
.enterLeave {
    opacity: 0;
}

/* opacity-100 */
.enterTo {
    opacity: 1;
}

/* ease-in duration-200 */
.leave {
    transition: 0.2s ease-in;
}

/* fixed inset-0 bg-black bg-opacity-25 */
.fixedDiv {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.258);
    display: grid;
    place-items: center;
}

/* flex min-h-full items-center justify-center p-4 text-center */
.divChil {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0rem;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    padding: 4px;
    height: 90vh;
    max-height: 700px;
    overflow: auto;

}

.open {
    display: none;
}

/* w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all */
.modalOpen {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(0) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    transition: all 0.3s ease-in-out;
    width: 80vw;
    border-right: solid 3px var(--primer-color);
    border-bottom: solid 3px var(--primer-color);
    border-radius: 20px;
    background: var(--segundo-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: auto;

}

.contedorInfo {
    display: flex;
}

.headerModal {
    margin: 25px;
}

.bodyModal {
   width: 95%;
}

.headerModal h2 {
    font-size: 30px;
    color: var(--primer-color);
}

.headerModal p {
    font-size: 18px;
    text-align: justify;
    color: white;
}

.explicacion p {
    font-size: 18px;
    color: white;
}

.tituloInfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 30px;
    color: var(--primer-color);
}

.textExpli {
    margin-left: 1.5rem;
    text-align: justify;
}

.footerModal button {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--primer-color);
    background: var(--segundo-color);
    color: white;
    margin: 30px;
    font-size: 20px;
}

.footerModal button:hover {
    background: var(--primer-color);
    color: white;
}

.explicacion {
    margin: 10px;
}

/* Mq Celular */
@media(min-width:280px) and (max-width:480px) {
    .modalOpen {
        display: grid;
        width: 90%;
    }

    .bodyModal {
        height: 100%;
    }

    .contedorInfo {
        display: flex;
        flex-direction: column;
    }

    .explicacion {
        height: auto;
        margin: 5px;
    }

    .headerModal h2 {
        font-size: 15px;
    }

    .headerModal p {
        font-size: 12px;
    }

    .explicacion p {
        font-size: 12px;
    }

    .tituloInfo {
        font-size: 15px;
    }

    .footerModal{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width:481px) and (max-width:1100px){
    .modalOpen {
        display: grid;
        justify-items: center;
        width: 90%;
        overflow: scroll;
    }

    .bodyModal {
        height: 100%;
    }

    .contedorInfo {
        display: flex;
        flex-direction: column;
    }

    .explicacion {
        height: auto;
        margin: 5px;
    }

    .headerModal h2 {
        font-size: 20px;
    }

    .headerModal p {
        font-size: 15px;
    }

    .explicacion p {
        font-size: 15px;
    }

    .tituloInfo {
        font-size: 20px;
    }
}

@media(min-width:1101px) and (max-width:1200px){
    .headerModal h2 {
        font-size: 32px;
    }

    .headerModal p {
        font-size: 19px;
    }

    .explicacion p {
        font-size: 18px;
    }

    .tituloInfo {
        font-size: 32px;
    }
}

@media(min-width:1201px) and (max-width:1300px){
    .headerModal h2 {
        font-size: 35px;
    }

    .headerModal p {
        font-size: 19px;
    }

    .explicacion p {
        font-size: 18px;
    }

    .tituloInfo {
        font-size: 35px;
    }
}

@media(min-width:1301px) and (max-width:1450px){
    .headerModal h2 {
        font-size: 35px;
    }

    .headerModal p {
        font-size: 20px;
    }

    .explicacion p {
        font-size: 20px;
    }

    .tituloInfo {
        font-size: 35px;
    }
}

@media(min-width:1451px) and (max-width:1600px){
    .headerModal h2 {
        font-size: 36px;
    }

    .headerModal p {
        font-size: 21px;
    }

    .explicacion p {
        font-size: 21px;
    }

    .tituloInfo {
        font-size: 36px;
    }
}



/* opacity-0 scale-95 */
.fromLeavelTo {
    opacity: 0;
    transform: scale(0.95);
}

/* opacity-100 scale-100 */
.enterToFrom {
    opacity: 1;
    transform: scale(1);
}

/* text-lg font-medium leading-6 text-gray-900 */
.dialogtitle {
    color: #fff;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
}