body{
    background-color: var(--segundo-color);
    transition: .5ms;

}

.contenedor{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
.imagen{
    width: 25%;
    height: 10vh;
    margin-top: .5rem;
    
}
.contenedorBtns{
    width: fit-content;
    display: flex;
    margin-right: 1rem;
    gap: 1rem;
    padding: 1rem;
}
.btns{
    height: fit-content;
    padding: .3rem 1rem .3rem 1rem;
    text-decoration: none;
    background-color: var(--primer-color);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: .1rem;
    
}

.denuncia{
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    background-color: var(--primer-color);
    border: none;
    border-radius: 50%;
    text-align: center;
}
.iconoDenuncia{
    display: flex;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    color: white;
    transform: rotate(320deg);
    
}
.registro,
.log{
    display: none;
}
.btns:hover{
    background-color: var(--segundo-color); 
    border: solid 1px var(--primer-color);
    transition: .3s ease;
}

.iconoDenuncia:hover{
    color: black;
    transition: .4s;    
}


/* Mq tvs */
@media (min-width: 1281px) {
    .imagen{
        width: 20%;
        height: 15vh;
    }
    .LetraLogin,.LetraRegistro{
        margin-left: 10px;
    }
}
/* Mq laptop */
@media(min-width:1025px)and (max-width:1280px) {
    .imagen{
        width: 20%;
        height: 10vh;
    }
    .LetraLogin,.LetraRegistro{
        margin-left: 10px;
    }
}

/* Mq tablet grande */
@media(min-width:800px)and (max-width:1024px) {
    .imagen{
        width: 25%;
        height: 7vh;
    }
    .contenedorBtns{
        margin: 0;
        gap: .4rem;
    }
    .btns{
        width: fit-content;
        font-size: .8rem;
        letter-spacing: 0;
    }
    .iconoDenuncia{
        width: 2rem;
        height: 2rem;
    }
    .LetraLogin,.LetraRegistro{
        margin-left: 10px;
    }
}
/* responsive-celular */     
@media (min-width: 280px) and (max-width:801px) {
    .imagen{
        margin-left: .5rem;
        margin-top: 1rem;
        width: 30%;
        height: 8vh;
        background-size: cover;
    }
    .btns{
        text-align: center;
        font-weight: 400;
        width: 2rem;
        height: 2rem;
        padding: 5px;
    }
    .registro,.log{
        display: flex;
        margin-left: 10px;
    }
    .icon{
        margin: auto;
    }
    .LetraLogin,.LetraRegistro{
        display: none;
    }
}

