.main_container{
    /* position: relative; */
    width: 100%;
    height: 100vh;  
    display: flex;
    background-color:#1E2326;
}
.container{
    /* position: absolute; */
    width: 20%;
    /* height: 90%; */
    margin-left: 2%;
    box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    justify-content: center
}
.contaImage{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    
}
.imagen{
    /* position: relative; */

    width: 70%;
    height: 3rem;
}
.containerIconos{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.Iconos1{
    display: flex;
    background-color: transparent;
    border: none;
}
.Iconos2{
    display: flex;
    background-color: transparent;
    border: none;
}
.Iconos3{
    display: flex ;
    background-color: transparent;
    border: none;
}



.Fihome{
    /* margin-top: 60%; */
    width: 36px;
    height: 33px;
    top: 15%;
    color: white;
}

.homeIcono{
    /* margin-top: 70%; */
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}
.AiFillSetting{
    /* position: absolute; */
    width: 33px;
    height: 34px;
    color: white;
}
.confiIcono{
    /* position: absolute; */
    width: 80px;
    height: 15px;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;

}
.BsQuestionCircle{

    /* position: absolute; */
    width: 33px;
    height: 34px;    
    color: white;
}
.ayudaIcono{
    /* position: absolute; */
    width: 97px;
    height: 30px;
    font-style: normal;
    font-size: 10px;
    line-height: 15px;
    color:#FFFFFF
}
.elimCuenta{
    /* position: absolute; */
    width: 111px;
    height: 31px;
    border-radius: 1rem;
    background: #9915EA;
    font-style:normal; 
}
.imgUsuario{
    /* position: absolute; */
    height: 25%;
    margin-left: 3%;
    margin-top: 3%;
    fill: white !important;

}
.BsFillCameraFill{
    /* position: relative; */
    left: 360px;
    top: 210px;
    color: white;
}
.containerEdiPrinipal{
    width: 100%;
}

.containerEditarPerfil{

    width: 95%;
    height: 50%;
    margin-left: 2.5%;
    margin-top: 5%;
    box-shadow: 4px 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
.formulario{
    display: flex;
    justify-content:space-around;
    text-align: center;
    padding: 5rem;
    
}
.datosFila1{
    width: 40%;
    display: grid;
    gap: 10%;
    color: white;
    text-align: left;

}
.inputdatos{
    width: 100%;
    height: 70%;
    border: none;
    background-color: transparent;
    border-bottom: solid 0.5px;
    color: #FFFFFF;
    outline: none;
    
}
.inputdatos:focus{
    background-color: #b86efd41;
    transition: 0s all ease-in;
    border-radius: 10px;
}



@media (min-width:1025px)and(max-width:1280px){
    
    .container{
        background-color: transparent;
    }

}
@media (min-width:768px)and(max-width:1024px){
    .containerEditarPerfil{
        
    }
}
@media (min-width:481px)and(max-width:767px){
    
}
@media (min-width:320px)and(max-width:480px){
    
}
