.main_container{
    position: relative;
    width: 100%;
    height: 100vh;  

    background: linear-gradient(243.18deg, #B86EFD 0%, rgba(180, 108, 247, 0.973958) 5.88%, rgba(163, 100, 224, 0.866016) 10.02%, rgba(145, 91, 198, 0.744979) 19.45%, rgba(139, 88, 190, 0.708263) 25.23%, rgba(110, 74, 149, 0.517713) 42.07%, rgba(70, 55, 94, 0.260477) 86.11%, rgba(71, 55, 95, 0.266051) 99.64%, rgba(30, 35, 38, 0) 100%);
}