
.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

/* contenedor nav */
.icono{
    color: violet;
    width: 3rem;
    height: 3rem;   
    margin-right: 35px;
    margin-top: 15px;
}


.logo{
    width: 20%;
    height: 8vh;
    background-image: url(../public/logo.png);
    background-position: center;
    background-size: cover;
    margin-top: .5rem;   
}


/* inicio text de bienvenido peticion */
.contenedortext{
    text-align: center;
    justify-content: center;
    padding: 45px;
}


.tituloh3{
    color: var(--primer-color);
    font-size: 3rem;
}


.titulop{
 color: white;
 font-size: 1.2rem;
}

/* inicio form */
.contenedorform{
    background-color:var(--tercer-color);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    border-bottom: solid 2px var(--primer-color);
    border-right: solid 2px var(--primer-color);
    padding: 45px;
    padding-top: 45px;
}

.contenedortext{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}

.contenedorSolicitud{
    color: white;
    padding: 20px;
    margin-left: 75px; 
    font-size: 1.4rem; 
}

.contenedorselect{
    width: 300px;
    padding: 8px;
    background-color: var(--primer-color);
    border-radius: 5px;
    border: none;
    color:black;
    font-size: 1rem;

}

/* contenedor de datos personales */
.contenedorDatos{
    display: flex;
    display: grid;
    background-color: var(--segundo-color);
    max-width: 1200px;
    height: 55vh; 
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);

   
}

.contenedoricotex{
    grid-column: 1/4;
    align-items: center;
    text-align: left; 
    font-size: 20px;  
    display: flex;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
}


.icontext{
    color: var(--primer-color);
}

.contenedoricotex p{
    color: var(--primer-color);
}
/* select del tipo de solicitud */
.info{
    padding: 15px;
    justify-self: center;
    align-self: center;
}

.info p{
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    
}

.info select{
    width: 260px; 
    background-color: var(--tercer-color);
    color: white;
    padding: 10px;
    border-radius: 5px; 
    font-size: 1.1rem;   
}
/* inicio de datos personales */
.infolabel {
    padding: 15px;
    justify-self: center;
    align-self: center;
}

.infolabel label{
    color: white;
    font-size: 1.2rem;
}


.infolabel input{
    display: flex;
    background-color: var(--tercer-color);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    width: 100%;
    font-size: 1rem;
    color: #fff;
}

/* informacion de la peticion */
.infpeticion{
    padding: 40px;
    
}
.infpeticion label{
    color: #fff;
    font-size: 1.2rem;
}

.infpeticion input{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    background-color: var(--segundo-color);
    border-radius: 5px;
    border-color: var(--primer-color);
}
    
/* información de la petición */
.complinf{
    padding-top: 30px;
}

.complinf label{
 font-size: 1.2rem;
 color: #fff;
    
}

.complinf input{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6vh;
    border-radius:5px;
    background-color: var(--segundo-color);
    font-size: 1rem;   
}

.textdes{
    padding-top: 30px;
}


.textdes label{
    color: #fff;
}


.textdes textarea{
    width: 100%; 
    background-color: var(--segundo-color);
    font-size: 1rem;
    
}
/* infromacion de localizacion del problema */
.inflocal{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    padding-top: 30px;
    justify-content: center;
    align-items: center;

}


.inflocal h3{
    grid-column: 1/2
}


.infbar{
    grid-row:2/3 ;
    color: #fff;
}


.infbar input{
    display: flex;
    flex-direction: column;
    background-color: var(--segundo-color);
    width: 75%;
    height: 5vh;
    border-radius: 5px;
}


.infodesp{
    grid-row: 2/3;
}


.infodesp textarea{
    display: flex;
    flex-direction: column;
    background-color: var(--segundo-color);
    
}
/* adjuntar imagen */
.infoimg{
    color: #fff;
    padding-top: 30px;

}

.infoimg p{
    color: #ffffffa4;

}

.infoimg input{
    background-color: var(--primer-color);
    color: #000;
    border-radius: 5px;
    height: 3vh;
   font-size: 1rem;
}

.textusu{
    color: #fff;
    padding-top: 40px;
}

/* tratamiento de datos */
.infoterminos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    padding-top: 15%;
}

.datostext{
    display: flex;
    gap: 10px;
}
.datostext span{
    color: aqua;
}

/* botones */

.botones{
    display: flex;
    gap: 50%;
    padding-top: 30px;
}
.boton1 {
    background-color: #8d0ef515;
    border: 1px solid var(--primer-color);
    color: var(--primer-color);
    padding: 6px 14px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.boton2 {
    background-color: #ff000012;
    border: 1px solid #f73131;
    color: #f73131;
    padding: 6px 14px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.boton2:hover{
    background-color: #ff00002f;
    
}

.boton1:hover{
    background-color: #8d0ef531;
}


/* tablet */
@media(max-width:1024px){
    .logo{
        width: 30%;
        margin-left: 20px;
    }

    .contenedorDatos{
        display: flex;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        height: 70vh;
    
       
    }

    .contenedoricotex{
        grid-column: 1/4;

    }


    .contenedoricotex{
        grid-column: 1/3;
    }

}
/*  */
@media(max-width:768px){
    .contenedorDatos{
        display: flex;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        height: 70vh;
    
       
    }

    .contenedoricotex{
        grid-column: 1/4;

    }


    .contenedoricotex{
        grid-column: 1/3;
    }

}
/* celular */
@media(max-width:480px){

}
