.usuario_log{
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: var(--segundo-color);
}
.navLog{
    width: 100%;
    height: 13vh;
    flex-direction: row;
    justify-content: space-between;
}
.cont_left{
    width: 40%;
    /* height: 40%; */
}
.cont_Right{
    width: 40%;
    height: 80%;
}
.listaBoton{
    width: 100%;
    height: 100%;
    flex-direction: row;
}
.li{
    list-style: none;
    padding: 2px;
}
.a{
    text-decoration: none;
}
.iconsLog{
    font-size: 2em; 
    padding: 3px;
    border-radius: 50px;
    color: white;
    background-color: var(--primer-color); 
    margin: 5px;
}
.filtrar{
    width: 30%;
    height: 100%;
    display: none;
}
.cont_tarjetas{
    width: 100%;
    height: auto;
}
.logo{
    width: 30%;
    height: 6vh;
    margin-left: 2rem;
    margin-top: .5rem;
    background-image: url(../../../public/logo.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

/* CONTENEDOR DE NOTIFICAION Y BUSQUEDA Y  LISTA DESPLEGABLE */

.notificaciones{
    display: none;
}



.despegableNotificaion{
    display: block;
    position: absolute;
    right: 0;
    width: 100%;
    height: 90vh;
    border-radius: 6px;
    border-right: solid 3px var(--primer-color);
    border-bottom: solid 3px var(--primer-color);
    background-color: var(--tercer-color);
    color: white;
    padding: 0 10px 0 10px;
    
}
.despegableNotificaion li{
    text-align: start;
    font-size: 20px;
}
.despegableNotificaion li:hover{
    background-color: #434b52;
    cursor: pointer;
}

.despegableFiltro{
    display: none;
    position: absolute;
    right: 10%;
    width: 160px;
    height: auto;
    border-radius: 6px;
    border-right: solid 3px var(--primer-color);
    border-bottom: solid 3px var(--primer-color);
    background-color: var(--tercero-color);
    color: white;
}
.liFiltrados{
    width: 90%;
    border-bottom: solid 3px #3d3d3d;
    margin: 10px;
    font-size: 0.8em;
}
/* .li:hover{
    background-color: var(--tercero-color); */
/* }
.li:hover > .despegableNotificaion {
    display: flex;
}
.li:hover > .despegableFiltro {
    display: flex;
} */



/* VISTA TABLET ----------------------------------------------------------------------------------------------------- */

@media (min-width: 768px){
    
    .cont_left{
        justify-content: flex-start;
    }

    .listaBoton{
        justify-content: flex-end;
        margin-right: 20px;
    }

    .iconsLog{
        font-size: 3.5em; 
    }

    .despegableNotificaion{
        width: 400px;
        height: auto;
    }

    .despegableFiltro{
        width: 400px;
        height: auto;

    }

    .liFiltrados{
        font-size: 2em;
        margin: 15px;
    }

    .logo{
        width: 25%;
        height: 10vh;
    }

}

/* VISTA DESKTOP ----------------------------------------------------------------------------------------------------- */

@media (min-width: 1024px){
    
    .filtrar{
        height: 87%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;

    }

    .filtrar{
        width: 20%;
    }

    .cont_tarjetas{
        width: 80%;
        height: 87%;
    }

}






.pokemon{
    width: 200px;
    height: 100px;
    margin: 10px;
    background-color: aquamarine;
}