.salir{
    text-decoration: none;
    color: #f73131;
}


.contenedor{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 8vh;
    display: flex;
    justify-content: space-between;
}

/* contenedor nav */
.icono{
    color: violet;
    width: 3rem;
    height: 3rem;   
    margin-right: 35px;
    margin-top: 15px;
}


.logo{
    width:200px;
    height: 100%;
  /*   background-image: url(../../../public/logo.png); */
    background-position: center;
    margin-top: .5rem;   
    background-size: contain;
    background-repeat: no-repeat;
}


/* inicio text de bienvenido peticion */
.contenedortext{
    text-align: center;
    justify-content: center;
    padding: 45px;
}


.tituloh3{
    color: var(--primer-color);
    font-size: 3rem;
}


.titulop{
 color: white;
 font-size: 1.2rem;
}

/* inicio form */
.contenedorform{
    background-color:var(--tercer-color);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    border-bottom: solid 2px var(--primer-color);
    border-right: solid 2px var(--primer-color);
    padding: 45px;
    padding-top: 45px;
}

.contenedortext{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}

.contenedorSolicitud{
    color: white;
    padding: 20px;
    font-size: 1.4rem; 
}

.contenedorselect{
    max-width: 300px;
    width: 100%;
    padding: 8px;
    background-color: var(--primer-color);
    border-radius: 5px;
    border: none;
    color:black;
    font-size: 1rem;

}

.solilabel{
    display: flex;
    flex-direction: column;
}

/* contenedor de datos personales */
.contenedorprinDatos{
    background-color: var(--segundo-color);
    padding-top: 20px;
}
.contenedorDatos{
    display: flex;
    display: grid;
    background-color: var(--segundo-color);
    max-width: 1200px;
    grid-template-columns: repeat(3,1fr); 
}

.contenedoricotex{
    align-items: center;
    text-align: left; 
    font-size: 20px;  
    display: flex;
    font-size: 2rem;
    padding: 15px;
}


.icontext{
    color: var(--primer-color);
}

.contenedoricotex p{
    color: var(--primer-color);
    line-height: 25px;
}
/* select del tipo de solicitud */
.info{
    padding: 15px;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.info p{
    color: white;
    font-size: 1.2rem;
    display: inline;
}

.info select{
    background-color: var(--tercer-color);
    color: white;
    padding: 15px;
    border-radius: 5px; 
    font-size: 1rem;  
    width: 100%; 
    margin-top: 10px;
    outline: none;
    border: 1px solid transparent;
}

.info select:focus{
    border:1px solid var(--primer-color);
}
/* inicio de datos personales */
.infolabel {
    padding: 15px;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.infolabel label{
    color: white;
    font-size: 1.2rem;
}


.infolabel input{
    display: flex;
    background-color: var(--tercer-color);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    border:1px solid transparent;
    outline:none;
}
.infolabel input:focus{
  border: 1px solid var(--primer-color);
}

/* informacion de la peticion */
.infpeticion{
    padding: 40px;
    
}
.infpeticion label{
    color: #fff;
    font-size: 1.2rem;
}

.infpeticion input{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    background-color: var(--segundo-color);
    border-radius: 5px;
    border-color: var(--primer-color);
    color: white;
    border: none;
}
   

/* informaci贸n de la petici贸n */
.complinf{
    padding-top: 30px;
}

.complinf label{
 font-size: 1.2rem;
 color: #fff;
    
}

.complinf input{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 6vh;
    border-radius:5px;
    background-color: var(--segundo-color);
    font-size: 1rem; 
    outline: none;
    color: #fff; 
    border: none;
    padding: 15px;
    border: 1px solid transparent
}
.complinf input:focus{
  border: 1px solid var(--primer-color);
}

.textdes{
    padding-top: 30px;
    font-size: 1.2rem;
}


.textdes label{
    color: #fff;
}


.textdes textarea{
    width: 100%; 
    background-color: var(--segundo-color);
    font-size: 1rem;
    outline: none;
    color: #fff;
    border: 1px solid transparent;

}

.textdes textarea:focus{
    border: 1px solid var(--primer-color);
}
/* infromacion de localizacion del problema */
.inflocal{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: #fff;
    padding-top: 30px;
    gap: 20px;
}

.textlocal{
    color: #fff;
    padding-top: 20px;
}

.infbar{
    grid-row:2/3 ;
    color: #fff;
}


.infbar input{
    display: flex;
    flex-direction: column;
    background-color: var(--segundo-color);
    width: 75%;
    padding: 15px;
    color: white;
    font-size: 1rem;
    height: 5vh;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
}

.infbar input:focus{
    border: 1px solid var(--primer-color);
}


.infodesp{
    display: grid;
    grid-row: 2/3;
}


.infodesp textarea{
    background-color: var(--segundo-color);
    padding: 10px;
    color: white;
    outline: none;
    border: 1px solid transparent;
    font-size: 1rem;
}

.infodesp textarea:focus{
    border: 1px solid var(--primer-color);
}
/* adjuntar imagen */
.infoimg{
    color: #fff;
    padding-top: 30px;

}

.infoimg p{
    color: #ffff;

}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: #fff;
    border: 2px solid currentColor;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    width: fit-content;
    padding: 8px 12px;
    gap: 5px;
    cursor: pointer;
}

.inputfile:focus + label,
.inputfile.has-focus + label,

.inputfile + label:hover {
    color:var(--primer-color);
}

.iborrainputfile {
    font-size:15px;
}


.textusu{
    color: #fff;
    padding-top: 40px;
    text-align: justify;
}

/* tratamiento de datos */
.infoterminos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
    padding-top: 15%;
}

.datostext{
    display: flex;
    gap: 10px;
}
.datostext span{
    color: aqua;
}

/* botones */

.botones{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
    gap: 10px;
}


.boton1 {
    background-color: #8d0ef515;
    border: 1px solid var(--primer-color);
    color: var(--primer-color);
    padding: 6px 14px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    max-width: 300px;
}


.boton2 {
    background-color: #ff000012;
    max-width: 300px;
    border: 1px solid #f73131;
    color: #f73131;
    padding: 6px 14px;
    height: 45px;
    border-radius: 10px;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    text-decoration: none;
}


.boton2:hover{
    background-color: #ff00002f;
    
}


.boton1:hover{
    background-color: #8d0ef531;
}

.palabraError{
    font-size: 13px;
    color: rgba(250, 36, 36, 0.635);
}

/* modal de calificaci贸n */
.ModaltextP{
  color: #ffffff98;
  font-size: 1rem;
  text-align: center;
}
.ModalComment{
  padding: 20px;
}

.ModalComment textarea{
  width: 100%; 
  background-color: var(--segundo-color);
  font-size: 1rem;
  outline: none;
  color: #fff;
  border: 1px solid transparent;
}
.ModalComment textarea:focus{
  border: 1px solid var(--primer-color);
}

/* Estrellas de calificaci贸n */
.ModalEstrellas{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}
.estrellas{
  font-size: 2.3rem;
  color: #fff;
}

/* responsive */

/* tablet */
@media(max-width:1024px){
    .logo{
        width: 30%;
        margin-left: 20px;
    }

    .contenedorDatos{
        display: flex;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }


}

@media(max-width:768px){
    .contenedorDatos{
        display: flex;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }


    .infbar{
        grid-row:1/2;
        color: #fff;
    }


    .infbar input{
        width: 100%;
    }

    .inflocal{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .contenedorform{
        padding: 10px;

    }
}


/* celular */
@media(max-width:480px){
    .contenedorDatos{
        display: flex;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: auto;
    }
    .botones{
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: fit-content;
    }
}
