

.table{
    margin-top:10px;
    width: 100%;
    text-align: center;
   
    border-collapse: collapse;
    
}
h1{
    color: #541f90;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.thead{
    background-color: #541f90;
    color: white;
   font-size: 21px;
   height: 4rem;
    border-bottom: 5px solid black;

}
.td{
   
    
    background-color: #302b3bb4;
    height: 5rem;
    
    color: white;
    font-size: 18px;
    border-bottom: 1px solid black;
  
   
}



.tr:hover{
    background-color: #541f90;
    cursor: pointer;
}
.tr{
    color: white;
}
.head{
    display: flex;
    justify-content: space-between;
  
}

.funcionesHead{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 1rem 0 1rem;
    
}

.conteInput{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
    border-radius: 5px;
  
    background-color: white;
    padding: 5px 2px 5px 10px;
    cursor: pointer;
    margin-right: 10px;

}

.input{
    outline: none;
    border-radius: 5px;
    height: 2rem;
    font-size: 15px;
    padding: 5px;
    border: none;
    cursor:text;
    margin-right: 3px;
   
    
}
.iconBuscar{
    color:#541f90;
    height: 1.5rem;

    width:1.5rem;
}

.volver{
    
    color: blueviolet;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    }
    .volver:hover{
        height: 35px;
        color: white;
       
    }

    .p{
        color:white;
        font-size: 15px;
    }

    .p_table{
        color:white;
        font-size: 13px;
    }

    .filtros{
        width: 100%;
     
        display: flex;
        justify-content: space-around;
    }

    .filtros__select{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
      
        
    }

    .filtros__select_info{
        height: 2.5rem;
        border-radius: 5px;
        width: 100%;
        border:none;
        outline: none;
        cursor:pointer;
        margin-left: 5px;
        font-size:1rem ;
        padding: 5px;
    }

    .filtros__select_tabla{
       
        border-radius: 5px;
        width: 60%;
        border:none;
        outline: none;
        cursor:pointer;
        
        font-size:15px ;
        padding: 5px;

    }

    .option{
        font-size: 20px;
       padding: 5px;       
    }
    .option_tabla{
        font-size: 15px;
       padding: 5px;   
    }

    .button{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        background-color: #541f90;
        color: white;
        border: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        flex-wrap:no-wrap;
        margin: 0 auto;
    }

    .buttonEliminar:hover{
        background-color: red;
    }
    .buttonEliminar1{
        background-color: red;
    }
    .buttonRestablecer1{
        background-color: rgb(4, 29, 75);
    }

    .buttonRestablecer:hover{
        background-color: rgb(4, 29, 75);
    }

    .tdborder{
        border-right: 1px solid black;
    }

.mas{
   height: 30px;
   width: 30px;
   color: white;
}
.mas:hover{
    color:#541f90;
}

.plus:hover{

   background-color: white;
}

.plus:hover .mas{
      color:#541f90;
}


/* MODAL*/

.modal {
    position: relative;
    z-index: 10;
  }
  
  /* ease-out duration-300 */
  .enter {
    transition: 0.3s ease-out;
  }
  
  /* opacity-0 */
  .enterLeave {
    opacity: 0;
  }
  
  /* opacity-100 */
  .enterTo {
    opacity: 1;
  }
  
  /* ease-in duration-200 */
  .leave {
    transition: 0.2s ease-in;
  }
  
  /* fixed inset-0 bg-black bg-opacity-25 */
  .fixedDiv{
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.258);
    
  }
  
  /* flex min-h-full items-center justify-center p-4 text-center */
  .divChil{
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    padding: 4px;
    text-align: center;
  }
  
  /* opacity-0 scale-95 */
  .fromLeavelTo{
    opacity: 0;
    transform:scale(0.95) ;
  }
  
  /* opacity-100 scale-100 */
  .enterToFrom {
    opacity: 1;
    transform: scale(1) ;
  }
  
 /* w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all */


 /* AQUI EDITA EL FORMA DEL MODAL PERRA IJUPUTA ---------------------------------------------------------------------*/
  .modalOpen{
    width: 100%;
    max-width: 42rem;
    border-right: solid 3px #B86EFD;
    border-bottom: solid 3px #B86EFD;
    border-radius: 20px; 
    background: var(--segundo-color);
    height: 90vh;
    max-height: 600px;
    overflow-y: auto;
    position: relative;
    padding: 20px 0 15px 0;
  }

  .botonModal{
    background-color: transparent;
    border: none;
  }