.registroUsuarios{
    width: 100%;
    height: auto;
    /* border-left: solid 3px var(--primer-color);
    border-bottom: solid 3px var(--primer-color);
    border-radius: 20px; */
    background:#1E2326 linear-gradient(360.0deg, #72479b 0.75%, rgba(111, 67, 151, 0.871) 7.18%, rgba(106, 70, 145, 0.592) 19.16%, rgba(82, 58, 110, 0.453) 28.74%, rgba(80, 62, 107, 0.292542) 55.36%, rgba(57, 51, 74, 0.133167) 83.67%, rgba(37, 42, 46, 0) 100%); 
    color: white;
}

.contenedor_top{
    width: 100%;
    height: 20vh;
}

.tituloRegistre{
    color: var(--primer-color);
    font-size: 2.8em;
}

.formulario_registrar{
    width: 100%;
    height: 100vh ;
    flex-direction: row;
    flex-wrap: wrap;
}

.label{
    width: 80%;
    height: 8%;
    display: flex;
    flex-wrap: wrap;
}


.iconRegister{
    width: 15%;
    height: 100%;
    padding: 3%;
    border-radius: 10px 0 0 10px;
    background-color: #313131;
    color: var(--primer-color);
    font-size: 1em;
}

.inputRegister{
    width: 85%;
    height: 100%;
    font-size: 1.3em;
    padding: 10px;
    background-color: #282828;
    border: none;
    border-radius: 0 10px 10px 0;
    outline: none;
    color: white;
    transition: 0.2s all ease-in;
}

.inputRegister:focus{
    background-color: #b86efd41;
    transition: 0.2s all ease-in;
}

.contenedor_boton{
    width: 100%;
    height: 10%;
    margin-top: 20px;
}

.btnResgistrar{
    width: 70%;
    font-size: 1.5em;
}


.error{
    margin: 3px;
    font-size: 0.9em;
    color: rgb(255, 34, 34);
}

.contenedor_bottom{
    width: 100%;
    height: 15vh;
    font-size: 1.2em;
}

.textoRegister{
    font-size: 0.9em;
    margin-bottom: 20px;
}

.link{
    text-decoration: none;
    font-size: 1.7em;
    color: var(--primer-color);
}

/* RESPONSIVE TABLET */

@media (min-width: 700px) {

    .registroUsuarios_contenedor{
        width: 100%;
        height: 100vh;
        background:var(--degradado-color);
    }

    .registroUsuarios{
        width: 85%;
        height: 90%;
        border-left: solid 3px var(--primer-color);
        border-bottom: solid 3px var(--primer-color);
        border-radius: 20px;
        color: white;
        background: var(--tercer-color);
    }

    .contenedor_top{
        width: 100%;
        height: 15%;
    }

    .formulario_registrar{
        width: 100%;
        height: 75%;
    }

    .contenedor_bottom{
        width: 100%;
        height: 10%;
        font-size: 1.2em;
    }

}

/* RESPONSIVE DESKTOP --.------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) {

    .registroUsuarios{
        width: 40%;
        height: 90%;
    }

    /* .label{
        width: 70%;
        height: 8%;
        margin: 5px;
    } */

        .label{
            width: 40%;
            height: 12%;
            margin: 10px;
        } 

        .registroUsuarios{
        width: 35%;
        height: 70%;
    }


}




/* 







     




 */