/* // NADIE TOCA ESTO!!!! */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Montserrat:ital,wght@1,200&family=Noto+Sans:ital,wght@0,100;0,200;1,100&family=Outfit:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@1,400;1,600&family=Poppins:wght@200&family=Righteous&family=Space+Grotesk:wght@300;400;500&family=Ubuntu:ital,wght@0,700;1,500;1,700&family=Unbounded:wght@200&family=Work+Sans:ital,wght@0,300;0,400;0,600;1,800&display=swap');
*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--letradepagina);

  }
  
/* // NADIE TOCA ESTO!!!! */
  :root{
    --letradepagina:'Space Grotesk', sans-serif;
    --primer-color: #B86EFD;
    --segundo-color: #1E2326;
    --tercer-color: #252A2E;
    --degradado-color: #1E2326 linear-gradient(242.91deg, #B86EFD 12.52%, rgba(180, 108, 247, 0.973958) 17%, rgba(163, 100, 224, 0.866016) 22.74%, rgba(145, 91, 198, 0.744979) 29.9%, rgba(110, 74, 149, 0.517713) 43.75%, rgba(71, 55, 95, 0.266051) 59.08%, rgba(70, 55, 94, 0.260477) 69.4%, rgba(30, 35, 38, 0) 81.15%);
  }
/* // NADIE TOCA ESTO!!!! */

  .contenedor{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
/* // NADIE TOCA ESTO!!!! */
  .btn{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border: 2px solid var(--primer-color);
    border-radius: 15px;
    color: white;
    transition: 0.2s all;
  }
/* // NADIE TOCA ESTO!!!! */
  .btn:hover{
    background-color: var(--primer-color);
    color: var(--segundo-color);
    transition: 0.2s all;
    cursor: pointer;
  }
/* // NADIE TOCA ESTO!!!! */

/* clase global iconos del filtro */
.icon{
  color: var(--primer-color);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}