.contenedor1{
    display: grid;
    grid-template-areas: 
    'admin'
    'filtrar'
    'barras'
    ;
    
}

.superAdmin{
    color: blueviolet;
    position: relative;

    font-size: 30px;
    grid-area: admin;
}
.contenedorFiltrar{
    grid-area: filtrar;
    display: grid;
    grid-template-areas: 
    'buscar filtro';
}

.barras{
    display: grid;
    grid-area: barras;
    grid-template-areas: 
    'barra1'
    'barra2'
    ;

    margin: 10px;
    

}
.input{
    height: 50px;
    width: 250px;
    border-radius: 80px;
    position: relative;
    font-size: 20px;
    text-align: center;
    grid-area: buscar;
}

.iconBuscar{
    width: 20px;
    height: 20px;
    position: relative;
    z-index: 2;
}

.filtrar select{
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    font-size: 20px;
    font-weight:bolder;
    grid-area: filtro;
}
select{
    background: #B86EFD;
    color: white;
}
.barra1{
    background:#b86efd79 ;
    width: 95%;
    margin: 10px;
    height: 50px;
    position: relative;
    border-radius: 50px;
    grid-area:barra1;
}
.barra2{
    background:#b86efd79 ;
    width: 95%;
    margin: 10px;
    
    position: relative;
    border-radius: 20px;
    grid-area:barra2;
}

.opciones{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    color: white;
    font-size:20px;
    font-weight: bold;

    margin: 10px;
}



.rol{
    text-align: center;
    margin: 5px;
    border-radius: 50px;
    width: 100px;
    height: 40px;   
}

.rol option{
    border-radius: 20px;
}


@media (max-width :768px) {

    
}