.contenedor1{
    display: grid;
    grid-template-areas:
        'nav '
        'admin'
        'volver'
        'filtrar '
        'barras';
    /* margin: 20px; */
    width: 100%;
    height: 100%;
    padding: 10px;

}
.nav{
    grid-area: nav;
   display: grid;
   grid-template-areas: 
   'logo user'
   ;
}
.user{
    grid-area: user;
    height: 100%;
    width: 100%;
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: flex-end;   
}

.usuario{
    width: 50px;
    height: 50px;
    margin: 50px;
}
.logo{
    grid-area: logo;
    margin: 20px;
}

p{
    color: white;
    font-size: 20px;
    width:100px;
    margin: 5px;
    background:  rgba(255, 255, 255, 0.264);
    border-radius: 30px;
    
}

.volver{
grid-area: volver;
color: blueviolet;
width: 40px;
height: 40px;
}
.volver:hover{
    height: 35px;
    color: white;
}
.superAdmin{
    grid-area: admin;
    display: grid;
}
.selectFiltro{
    grid-area: select;
display: grid;
grid-template-columns: repeat(4,2fr);
grid-area: select;
text-align: center;
width: 100px;
margin-left: -650px;
}
.superAdmin h1{
    color: blueviolet;
    position: relative;
    font-size: 30px;    
}
.contenedorFiltrar{
    grid-area: filtrar;
    display: grid;
    grid-template-areas: 
    'contenido filtro';
    margin-bottom: 10px;
    align-items: center;
    grid-template-columns:0.25fr 0.1fr;

}

.conteInput{
    height: 100%;
    width: 100%;
    grid-area: contenido;
    padding: 10px;
    display: flex;
    align-content: center;
    align-items: center;
}

.conteBuscar{
    display: flex;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    grid-area:filtro;
}

.filtrar{

  border: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    background: #b86efd79;
    color: white;
}
.filtrar:hover{
    background: white;
    color: blueviolet;
}
.filtrar:active{

    box-shadow: 2px 2px 5px #9f4dfc;;



}
.span{
    display: grid;
    align-items: center;
    justify-content: center;
}
.barras{
    display: grid;
    grid-area: barras;
    gap: 15px;
    justify-items: center;
}
.input{
    height: 100%;
    width: 100%;
    border-radius: 80px;
    /* position: relative; */
    font-size: 15px;
    padding: 10px;
    text-align: center;
    grid-area: buscar;
    outline: none;
}

.iconBuscar{
    width: 33px;
    height: 28px;
    /* position: relative; */
    /* z-index: 2; */
    display: grid;
    position: absolute;
    margin: 10px;
}
.iconBuscar:hover{
    color: blueviolet;
}
.filtrar select{
    width: 200px;
    height: 50px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    font-size: 20px;
    font-weight:bolder;
    grid-area: filtro;
}
select{
    background: #B86EFD;
    font-size: 20px;
    width: 90px;
    height: 40px;
    border-radius: 50px;
    color: white;
}
.barra1{
    background:#b86efd79 ;
    width: 100%;
    padding: 10px;
    height: 50px;
    position: relative;
    border-radius: 50px;
}
.rol{
    text-align: center;
    margin: 5px;
    border-radius: 50px;
    width: 100px;
    height: 40px;   
}

.rol option{
    border-radius: 20px;
}
.configbarra2{
 
    width: 100%;
}

.barra2{
    background: #b86efd79;
    position: relative;
    border-radius: 20px;
    height: fit-content;
    margin: 10px;
    /* width: 100%; */
    padding: 5px;
}





.opciones{
    list-style: none;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 200px;
    
}
 
.opciones li{
 background: rgba(255, 255, 255, 0.264);
 border-radius: 50px;
 width: 100px;
 
}



.datos{
    display: flex;
    /* justify-content: center; */
    list-style: none;
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: bold;
    /* margin: 10px; */
    /* flex-direction: row; */
    /* align-items: center; */
    align-content: center;
    justify-content: center;

align-items: center;
    gap: 200px;
}

.datos li{
    border-radius: 50px;
    width: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;


}

.estado{

    border-radius: 10px;
    font-size: 20px;
    background: #b86efd79;
    color: white;

    outline: none;

}
.rol{

    border-radius: 10px;
    font-size: 20px;
    background: #b86efd79;
    color: white;

    outline: none;

}


@media (max-width :768px) {


    .contenedor1{
        display: grid;
        grid-template-areas:
            'admin'
            'filtrar'
            'barras';
        /* margin: 20px; */
        width: 100%;
        height: 100%;
        padding: 10px;
    
    }
    
    .superAdmin{
        color: blueviolet;
        position: relative;
    
        font-size: 30px;
        grid-area: admin;
    }
    .contenedorFiltrar{
        grid-area: filtrar;
        display: grid;
        grid-template-areas: 
        'contenido filtro';
        margin-bottom: 10px;
        align-items: center;
        grid-template-columns:0.25fr 0.1fr;
    
    }
    
    .conteInput{
    
        height: 100%;
        width: 100%;
        grid-area: contenido;
       
        padding: 10px;
     
        
        display: flex;
        align-content: center;
        align-items: center;
    }
    
    .conteBuscar{
    
        display: flex;
        align-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    
        padding: 10px;
        grid-area:filtro ;
    
    
    }
    
    .filtrar{
    
      
        width: 100%;
        height: 100%;
        border-radius: 10px;
        font-size: 20px;
        background: #b86efd79;
        color: white;
    }
    
    
    
    
    
    .span{
    
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .barras{
        display: grid;
        grid-area: barras;
        gap: 15px;
        justify-items: center;
    }
    .input{
        height: 100%;
        width: 100%;
        border-radius: 80px;
        /* position: relative; */
        font-size: 15px;
        padding: 10px;
        text-align: center;
        grid-area: buscar;
        outline: none;
    }
    
    .iconBuscar{
        width: 33px;
        height: 28px;
        /* position: relative; */
        /* z-index: 2; */
        display: grid;
        position: absolute;
        margin: 10px;
    }
    
    .filtrar select{
        width: 200px;
        height: 50px;
        text-align: center;
        position: relative;
        border-radius: 10px;
        font-size: 20px;
        font-weight:bolder;
        grid-area: filtro;
    }
    select{
        background: #B86EFD;
        font-size: 20px;
        width: 90px;
        height: 40px;
        border-radius: 50px;
        color: white;
    }
    .barra1{
        background:#b86efd79 ;
       width: 100%;
        padding: 10px;
        height: 50px;
        position: relative;
        border-radius: 50px;
    
    }
    
    
    
    
    .rol{
        text-align: center;
        margin: 5px;
        border-radius: 50px;
        width: 100px;
        height: 40px;   
    }
    
    .rol option{
        border-radius: 20px;
    }
    
    
    
    .configbarra2{
     
        width: 100%;
    }
    
    .barra2{
        background: #b86efd79;
        position: relative;
        border-radius: 20px;
        height: fit-content;
        margin: 10px;
        /* width: 100%; */
        padding: 5px;
    }
    
    
    
    
    
    .opciones{
        list-style: none;
        text-align: center;
        color: white;
        font-size: 20px;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        display: flex;
        gap: 200px;
        
    }
     
    .opciones li{
     background: rgba(255, 255, 255, 0.264);
     border-radius: 50px;
     width: 100px;
     
    }
    
    
    
    .datos{
        display: flex;
        /* justify-content: center; */
        list-style: none;
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: bold;
        /* margin: 10px; */
        /* flex-direction: row; */
        /* align-items: center; */
        align-content: center;
        justify-content: center;
    
    align-items: center;
        gap: 200px;
    }
    
    .datos li{
        border-radius: 50px;
        width: 100px;
        
        display: flex;
        justify-content: center;
        align-items: center;
    
    
    }
    
    .estado{
    
        border-radius: 10px;
        font-size: 20px;
        background: #b86efd79;
        color: white;
    
        outline: none;
    
    }
    .rol{
    
        border-radius: 10px;
        font-size: 20px;
        background: #b86efd79;
        color: white;
    
        outline: none;
    
    }



    
}